<h1>Edit an Actor</h1>

<br>
<ul>
<% if @actor.errors.any? %> 
    <% @actor.errors.each do |error| %>
        <li><%=error.full_message%></li>
    <% end %>
<% end %>
</ul>
<br>

<div id="actor-form" class="hide">
    <%= form_with(model: @actor) do |f| %>
        <%= render partial: "form", locals: {f: f} %>
        <%= f.submit :update%>
    <% end %>
    <% if User.find(session[:user_id]).email == "kraewind@gmail.com" %>
        <%=button_to "Delete Actor", "/actors/#{@actor.id}", method: "delete"%>
    <% end %>
</div>