<h1>Edit a Viewing</h1>

<% if @viewing.errors.any? %> 
    <% @viewing.errors.each do |error| %>
        <li><%=error.full_message%></li>
    <% end %>
<% end %>


<div id="viewing-form" class="hide">
    <%= form_with(model: @viewing) do |f| %>
        <%= render partial: "form", locals: {f: f} %>
        <%= f.submit :update%>
    <% end %>

<br><br>
    <%=button_to "Delete Viewing", "/viewings/#{@viewing.id}", method: "delete"%>

</div>