<h1>Create a Viewing</h1>
<%=display_error_messages_if_any(@viewing)%>

<div id="viewing-form" class="hide">
    <%= form_with(model: @viewing) do |f| %>
        <%= render partial: "form", locals: {f: f} %>
        <div class="form-control">
            <%= f.label :show_id, class: "form-label"  %>
            <%= f.collection_select :show_id, Show.all, :id, :title, prompt: true, class: "form-label" %>
        </div>
        <%= f.submit :create%>
    <% end %>

</div>