<br>
<ul>
<% if @user.errors.any? %> 
    <% @user.errors.each do |error| %>
        <li><%=error.full_message%></li>
    <% end %>
<% end %>
</ul>
<br>

<%= form_with(model: @user) do |f| %>
        <%= render partial: "form1", locals: {f: f} %>
        <% if !@user.cvo %>
            <%= render partial: "form2", locals: {f: f} %>
        <% end %>
        <%= f.submit :update%>
    <% end %>