<h1>Signup</h1>
<br>
<ul>
<% if @user.errors.any? %> 
    <% @user.errors.each do |error| %>
        <li><%=error.full_message%></li>
    <% end %>
<% end %>

</ul>
<br>
<div id="signup-form" class="hide">
    <%= form_with(model: @user) do |f| %>
        <%= render partial: "form1", locals: {f: f} %>
        <%= render partial: "form2", locals: {f: f} %>
        <%= f.submit :create%>
    <% end %>
    <h4> Already have an account? <%= link_to "Log in", signin_path, class: "show-login"%></h4>

</div>