

<h1>Username: <%= @user.username %></h1>

<h4>Name: <%= @user.name %></h4>
<h4><%= @user.dob %></h4>
<h4><%= @user.admin %></h4>
<img src="<%= @user.image %>">
<br><br>

<h4><%=button_to "Edit Profile", edit_user_path(@user), method: 'get'%></h4>

<h3>Your Anime:</h3>
<%= iterate_through_user_shows(@user)%>

<h3>Your Upcoming Viewings:</h3>

<%= iterate_through_user_future_viewings(@user)%>

<br>
  <%= button_to "Add a viewing", new_viewing_path, method: 'get' %>
  <br>
  <%= button_to "See Past Viewings", viewings_path, method: 'get'%>
<br>
