

<% if session[:user_id] %>
  <h1><%= @user.username %></h1>

<h4><%= @user.name %></h4>
<h4><%= @user.email %></h4>
<h4><%= @user.dob %></h4>
<h4><%= @user.admin %></h4>
<img src="<%= @user.image %>">
<% else %>
  <%= link_to('Log in with Google!', '/auth/google_oauth2') %>
<% end %> 