<h1>Edit a Character</h1>
<br>
<ul>
<%=display_error_messages_if_any(@character)%>
</ul>
<br>
<div id="character-form" class="hide">
    <%= form_with(model: @character) do |f| %>
        <%= render partial: "form", locals: {f: f} %>
        <%= f.submit :update%>
    <% end %>

    <%= delete_if_admin(@character)%>

</div>