<h1>Edit a Character</h1>
<br>
<ul>
<% if @character.errors.any? %> 
    <% @character.errors.each do |error| %>
        <li><%=error.full_message%></li>
    <% end %>
<% end %>
</ul>
<br>
<div id="character-form" class="hide">
    <%= form_with(model: @character) do |f| %>
        <%= render partial: "form", locals: {f: f} %>
        <%= f.submit :update%>
    <% end %>

    <% if User.find(session[:user_id]).email == "kraewind@gmail.com" %>
        <%=button_to "Delete Character", "/characters/#{@character.id}", method: "delete"%>
    <% end %>

</div>