<h1>Create a Character</h1>
<br>
<ul>
<%=display_error_messages_if_any(@character)%>
</ul>
<br>
<div id="character-form" class="hide">
    <%= form_with(model: [@show, @character]) do |f| %>
        <%= render partial: "form", locals: {f: f} %>
       
        <div class="form-control">
            <%= f.label :actor_id, class: "form-label"  %>
            <%= f.collection_select :actor_id, Actor.all, :id, :name, prompt: true, class: "form-label" %>
        </div>
        
<% if @character.show_id == nil %>

        <div class="form-control">
                <%= f.label :show_id, class: "form-label"  %>
                <%= f.collection_select :show_id, Show.all, :id, :title, prompt: true, class: "form-label" %>
            </div>
<h2>Optionally create a show!</h2>
            <%= f.fields_for :show do |a| %>
                <%= render partial: "shows/form", locals: {f: a} %>

            <% end %>
<% else %>
        <%=f.hidden_field :show_id, value: @character.show_id %>
<% end %>


        <%= f.submit "Create"%>
    <% end %>

</div>