<h1>Edit a Show</h1>

<br>
<ul>
<%=display_error_messages_if_any(@show)%>
</ul>
<br>

<div id="show-form" class="hide">
    <%= form_with(model: @show) do |f| %>
         <%= render partial: "form", locals: {f: f} %>
        
        <%= f.submit :update%>
    <% end %>

    <%= delete_if_admin(@show)%>

</div>