
<br>
<h1><%=@show.title%></h1>



<h4><%=@show.air_time%></h4>

<h2>List of characters: </h2>
<ul>
    <% @show.characters.each do |c| %>
        <li><%=link_to c.name, show_character_path(@show, c)%></li>
    <% end %>
</ul>

<%=button_to "Add Character", new_show_character_path(@show), method: 'get'%>

<br>

<%=button_to "Edit Show", edit_show_path(@show), method: 'get'%>


<h2>COMMENTS: </h2>
    <%= form_with(model: @comment) do |f| %>
        <div class="form-control">
            
            <%= f.text_field :content, class: "form-input" %>
        </div>
         
            <%= f.hidden_field :show_id, value: @show.id %>
        
        <%= f.submit :create%>
    <% end %>
<ul>
    <% @show.comments.reverse.each do |c| %>
        <li><%=User.find_by_id(c.user_id).username%>: <%=c.content%>  <%=c.created_at.strftime("%m/%d/%y: %H:%M %Z")%></li>
        <%= delete_if_admin(c)%>
    <% end %>
</ul>