<!DOCTYPE html>
<html>
  <head>
    <title>Otaku</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <br><br><br>
    <nav>
      <div class="navbar-list">
          <a class="navbar-link <%=shows_path%>" href="/shows">Shows</a>
          <a class="navbar-link <%=characters_path%>" href="/characters">Characters</a>
          <a class="navbar-link <%=actors_path%>" href="/actors">Actors</a>
          <a class="navbar-link <%=logout_path%>" href='/logout'>Logout</a>
         
        </div>
    </nav>
    <div class="content">
      <%= yield %>
    </div>
  </body>
  <footer class="site-footer">

    <div class="container">
      <div class="row">
        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by Krae-Z.</p>
      </div>
    </div>
  </footer>
</html>
